@import "tailwindcss";

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@supports (field-sizing: content) {
  textarea.field-sizing-content {
    field-sizing: content;
  }
}

body {
  background: var(--background);
  color: #354052;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

main {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.fontA1 {
  font-size: 1.575rem;
  line-height: 1.2;
  font-weight: 600;
}

.fontA2 {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 600;
}

.fontA3 {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 500;
}

.fontA4 {
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;
}

.fontA5 {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

.fontA6 {
  font-size: 0.75rem;
  line-height: 1.6;
  font-weight: 300;
}