@keyframes fadeInOut {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.NotificateArea {
  animation: fadeInOut 3s forwards;
  background-color: rgba(255,255,255,0.9);
  pointer-events: none;
}